{% extends 'checker/base.html' %}
{% load static %}
{% block navbar %}
{% endblock %}
{% block right_upper_button %}
    <a href="#" data-toggle="modal" data-target="#addGroupModal"
       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-plus fa-sm text-white-50"></i> Добавить группу</a>
        <a href="{% url 'checker:check_my_groups' %}"
       class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i
            class="fas fa-plus fa-sm text-white-50"></i> Проверить всё</a>
{% endblock %}
{% block nav_items_messages %}
{% endblock %}
{% block content %}

    <!-- End of Topbar -->

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        {#                    <h1 class="h3 mb-2 text-gray-800">Tables</h1>#}
        {#                    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.#}
        {#                        For more information about DataTables, please visit the <a target="_blank"#}
        {#                            href="https://datatables.net">official DataTables documentation</a>.</p>#}

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ page_title }}</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Название группы</th>
                            <th>Количество контестов</th>
                            <th>Последнее обновление посылок</th>
                            <th>Последняя обновление задач</th>
                            <th>Последняя проверка</th>
                            <th>Действия с группой</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Название группы</th>
                            <th>Количество контестов</th>
                            <th>Последнее обновление посылок</th>
                            <th>Последняя обновление задач</th>
                            <th>Последняя проверка</th>
                            <th>Действия с группой</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for group in my_groups %}

                            <tr class="text-center">
                                <td><a href="{% url 'checker:group' group.pk %}">{{ group.name }}</a></td>
                                <td>{{ group.num_of_contests }}</td>
                                <td>{{ group.last_attempt_parsing_time }}</td>
                                <td>{{ group.last_contest_problems_parsing_time }}</td>
                                <td>{{ group.last_check_time }}</td>
                                <td>
                                    <a href="{% url 'checker:check_group' group.pk %}?from={{ request.path }}"
                                       class="btn btn-info btn-circle" >
                                        <i class="fas fa-user-check"></i>
                                    </a>
                                    <a href="{% url 'checker:start_sync' group.pk %}"
                                       class="btn btn-success btn-circle" >
                                        <i class="fas fa-sync"></i>
                                    </a>
                                    <a href="#" data-toggle="modal" data-target="#deleteGroupModal"
                                       class="btn btn-warning btn-circle">
                                    <i class="fas fa-pen"></i></a>
                                    <a href="{% url 'checker:remove_group' group.pk %}"
                                       class="btn btn-danger btn-circle">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    {% include 'checker/addGroupModal.html' %}
{#    {% include 'checker/DeleteGroupModal.html' %}#}
    <!-- /.container-fluid -->


{% endblock %}
{% block custom_footer_scripts %}
<script src="{% static 'checker/js/demo/datatables-demo.js' %}"></script>
{% endblock %}